<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./bootstrap.php"
         verbose="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="false"
         forceCoversAnnotation="false"
         strict="false"
         processIsolation="false">
    <testsuites>
        <testsuite name="UASParser tests">
            <directory>./UAS/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">UAS/</directory>
        </whitelist>
    </filter>
</phpunit>
